DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DEEPL_AUTH_KEY=
WEBSITE_PORT=9909
PUBLIC_BASE_URL=https://cadia.online
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PAYMENT_LINK_URL=https://buy.stripe.com/your_payment_link
